.container {
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
}
table thead {
    background-color: rgb(202, 202, 202);
}
table tbody {
    background-color: #fff;
}
table td {
    border: 1px solid #333;
    padding: 10px;
}
.tdHead {
    background-color: rgb(202, 202, 202);
}