.container {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #cccccc;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container span {
    margin-left: 10px;
    margin-top: 7px;
}