.container {
    position: absolute;
    min-height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #ffc5c5;;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
@media only screen and (max-width: 820px) {
    .container {
        display: none;
    }
}
.container span {
    margin-left: 10px;
    margin-top: 7px;
}
.container a {
    margin-left: 10px;
    bottom: 0;
}