html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
/* Works on Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #505050 !important;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 20px;
}
* {
  box-sizing: border-box;
  font-family: Open sans;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

#app-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #ededed;
  flex-basis: 280px;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;
  min-width: 280px;
  overflow-y: auto;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 10;
  padding-bottom: 50px;
  transition: min-width 0.2s ease;
}
.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 30px 30px 50px 30px;
}


#app-nav.closed {
  flex-basis: 60px;
  min-width: 60px;
  width: 60px;
  height: 100%;
}
#app-nav.closed .menu-items{
  display: none;
}
#app-nav.closed .mobile-menu {
  padding-right: 17px;
}

ul, li {
  list-style-type: disc !important;
  display: list-item;
}
nav ul {
  padding-left: 42px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
}
nav a {
  padding-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
nav .active {
  color: #008000 !important;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#appContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-grow: 1; */
  height: 100%;
  width: 100%;
  position: relative;
}
.super-github {
  display: inline-flex;
  position: absolute;
  right: 30px;
  top: 5px;
  font-size: 30px;
  color: #333;
  overflow: visible;
  border: none;
  text-transform: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* fixes code hightligh*/
.token.punctuation {
  color: #000 !important;
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #813782 !important;
}
.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #207e43 !important;
}
.line-numbers-rows > span {
  display: inline-block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: inline-block;
  padding-right: 0.8em;
  text-align: right;
  position: unset !important;
}
.line-numbers .line-numbers-rows {
  user-select: unset !important;
}
.formmod__heart {
  color: red;
}
.formmod__subtitle {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  min-width: 300px;
}
.line-highlight {
  color: #54c270;
  background: linear-gradient(to right,rgba(85, 194, 112, 0.1) 70%,rgba(85, 194, 112, 0.1)) !important;
 /* margin-top: 10px !important; */
}
.super-github-icon *{
  margin-left: 10px !important;
  color: #000 !important;
  position: relative;
  bottom: 2px;
}
.super-github-star {
  height: 28px;
  color: #24292f;
  background-color: #ebf0f4;
  border: 1px solid #1b1f2426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  bottom: 1px;
}
.super-github-star svg {
  margin-right: 5px;
}
.steps {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  color: rgb(46, 46, 46);
  margin-top: 30px;
  min-width: 750px;
}

.steps-header {
  font-weight: bold;
  margin-bottom: 10px;
}
.formmod__source {
  width: 100%;
  background-color: #333;
  padding-left: 20px;
  margin: 20px 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  min-width: 750px;
}
.formmod__source a {
  padding: 0 10px;
  cursor: pointer;
  color: #fff !important;
  text-decoration: none !important;
}
.formmod__source a:hover {
  text-decoration: underline !important;
}
.issue-link {
  font-size: 30px;
  color: #0969da;
  text-decoration: none;
}
.issue-link:hover {
  text-decoration: underline;
}
.issues-container {
  height: 80px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  background: #fff;
  border-radius: 6px;
  padding-left: 20px;
  margin-bottom: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 46px;
}
.content-header-important {
  background-color: #ffc561;
  color: #fff;
  margin-bottom: 0;
  padding-left: 20px;
}

.content-header-important-content {
  background-color: #fbe8c6;
  padding: 20px;
  margin-bottom: 20px;
}
.content-header-important-content pre {
  background-color: rgba(222, 222, 222, 0.5);
  padding: 10px;
}
.formmod__subtitle-2 {
  margin-bottom: 0;
  font-weight: normal;
}
b {
  color: #333;
}

body pre.line-numbers[pre-wraped] {
  position: relative;
  line-height: 1.5;
  overflow: auto;
}
pre[class*=language-].line-numbers>code {
  position: relative;
  white-space: inherit;
  line-height: 1.5;
  -ms-hyphens: none;
  hyphens: none;
  word-spacing: normal;
}
.big-text {
  font-size: 20px;
}
.targets-block {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  flex-wrap: wrap;
}
.target {
  width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 4px solid #333;
  margin: 10px;
  background: #fed2d2;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}
.ul-title {
  color: #008000;
  font-size: 24px;
  margin-bottom: 10px;
}
.mobile-menu {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 50px;
  margin-bottom: 20px;
}
.mobile-menu span {
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 820px) {
  #app-nav {
    position: absolute;
    width: 280px;
    z-index: 99;
  }
  .content {
    padding: 30px 0 30px 80px !important;
  }
  .content>div {
    margin-right: 30px !important;
  }
  .mobile-menu {
    display: flex;
  }
}
@media (max-width: 1230px) {
  .target {
    width: 150px;
    height: 150px;
    font-size: 16px;
  }
}
.hightligh-comment span {
 color: #a7a6a6 !important;
}
.highlight-block {
  width: 100%;
  height: 24px;
}
.collapse {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collapse[open] .collapse__content{
  display: flex;
  border: 1px dashed #eaeaea;
  box-sizing:border-box;
  background-color: #fcfcfc;
}
.collapse[open] .collapse__label,
.collapse__content {
  display: none;
  flex-direction: column;
}
.collapse__label {
  width: 100%;
  text-align: center;
  color: #c9c8c8 !important;
  background-color: #FAFAFB;
  border: 1px dashed #eaeaea;
  box-sizing:border-box;
  cursor: pointer;
  height: 24px;
}
.collapse__hide {
  display: none;
  position: absolute;
  right: 5px;
  top: 0;
  color: #6e6e6e;
  cursor: pointer;
}
.collapse[open] .collapse__hide {
  display: inline-block;
}
.border-red {
  color: red;
}