.containerRed,
.containerLight,
.container {
    display: inline-flex;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #54c270;
    color: #fff;
    padding: 4px 24px;
    border-radius: 4px;
    border: 1px solid #327680;
    cursor: pointer;
    font-size: 16px;
}
.containerRed,
.containerLight:focus,
.container:focus {
    outline: none;
    border: 1px solid #25565e;
}

.containerLight {
    background-color: transparent;
    color: #54c270;
    border: 1px solid transparent;
    padding: 0;
}

.containerRed {
    background-color: transparent;
    color: #ce4f28;
    border: 1px solid transparent;
    padding: 0;
}
.containerRed:focus,
.containerLight:focus {
    border: 1px solid transparent;
}
