.textInput {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.label {
    color: #54c270;
    font-family: Arial;
    font-size: 16px;
}
.input {
    width: 100%;
    max-width: 300px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 6px;
    font-family: Open Sans;
    font-size: 14px;
    color: #244D51;
    box-sizing: border-box;
}
.error {
    font-family: Arial;
    font-size: 12px;
    color: #d62b0d;
    font-weight: bolder;
}