
.logo {
    width: 180px;
    height: 144px;
    background-size: cover;
    position: relative;
    left: 40px;
}
.selfItem {
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.selfItem a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    font-size: 16px;
}
.section {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.sectionSpec {
    display: inline-flex;
    width: 100%;
    max-height: 1px;
    height: 1px;
    transition: max-height 3s ease, opacity 0.3s;
    background-color: #e6e6e6;
    overflow: hidden;
    opacity: 0;
}
.sectionSpecOpened {
    height: auto;
    max-height: 10000px !important;
    opacity: 1;
}
.sectionNav {
    color:black;
    width: 100%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    user-select: none;
}
.sectionNavOpened {
    background-color: #cccccc;
}

.selfItem a:hover ,
.sectionNav:hover .sectionIcon,
.sectionNav:hover {
    background-color: #008000;
    color: #fff !important;
}
.navItem {
    height: 30px;
}
.navItem a {
    color:black;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 50px;
}
.navItem:hover{
    background-color: #008000;
}
.navItem:hover a {
    color: #fff !important;
}
.sectionIcon {
    font-size: 20px;
    color:black;
    position: absolute;
    right: 20px;
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out 0s;
    user-select: none;
}
.sectionIconOpened {
    transform: rotate(90deg);
}
.selfItemRed a {
    color: #fd4242 !important;
}