.container {
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.terminal {
    background-color: #000;
    color: #17ff0b;
    max-width: 600px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
}
.formmod__dep {
    background-color: #fff;
    max-width: 600px;
    padding: 20px;
}