.container {
    min-width: 600px;
}
.container [content-header] {
    font-size: 35px;
    font-weight: bold;
    font-family: "Open sans";
    color: #008000;
}
.container[pre-wraped],
.container [content-code],
.container [content-ul] {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    max-width: calc(100% - 250px);
    padding-top: 12px;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    word-wrap: break-word;
    padding-left: 60px;
    padding-right: 35px;
    padding-bottom: 12px;
}
@media (max-width: 400px){
    .container [content-ul]{
        width: 600px !important;
    }
}
.container[pre-wraped] {
    max-width: 1322px !important;
    width: 100%;
    font-size: 16px !important;
}
@media (max-width: 1280px){
    .container[pre-wraped],
    .container [content-code],
    .container [content-ul] {
        max-width: unset !important;
    }
    code{
        font-size: 16px !important;
       /* width: 1322px !important; */
        display: inline-block !important;
    }
    .line-numbers-rows > span {
        display: block !important;
        counter-increment: linenumber !important;
        line-height: 1.2rem !important;
    }
}
.container [content-ul] li {
    width: 100%;
    margin-bottom: 16px;
    font-size: 18px;
}
.container [content-help] {
    height: 50px;
    width: 100%;
}
.container code {

}
.container[pre-wraped] {
    display: inline-block;
    word-break: break-word;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
}
.linesContainer {
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 12px;
    flex-direction: column;
    box-sizing: border-box;
    width: 56px;
    border-right: 1px solid #333;
    pointer-events: none !important;
}
.line {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    position: relative;
    opacity: 0.5;
}
.lineBold {
    opacity: 1;
}
.hightline {
    position: absolute;
    top: 0;
    width: 1322px;
    height: 100%;
    color: #54c270;
    background: linear-gradient(to right,rgba(85, 194, 112, 0.1) 70%,rgba(85, 194, 112, 0.1)) !important;
}
.withoutLines {
    padding-left: 12px !important;
}